
  .banner {
    width: 100%;
    height: auto;
  }
  

  body {
    background-color: #f4f1e8;
  }

  
  .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
} 


.card body{
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.h5 {
      font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
  }
  





 
  

  

  




